.container {
  display: flex;
  justify-content: center;
}
.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
}

.item {
  display: flex;
  width: 100%;
  background-color: #bbbaba1f;
  padding: 10px;
}

.item:not(:last-of-type) {
  margin-bottom: 6px;
}

.wrap {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 92%;
}

.name {
  margin: 0;
  width: 50%;
  min-width: 150px;
}
.priceWrap {
  width: 60px;
}
.price {
  width: 10%;
  margin: 0;
  line-height: 1rem;
  font-size: 1.25rem;
  margin: 0;
}

.btnWrap,
.dishWrap {
  display: flex;
  align-items: center;
}
.dishWrap {
  justify-content: start;
  text-decoration: none;
  color: #8d8173;
}

.btnWrap {
  justify-content: center;
  flex-direction: column;
}

.amountValue {
  line-height: 1rem;
  font-size: 1.25rem;
  margin: 0;
}
.amountWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 120px;
  border: 1px solid #b2b2b2;
  border-radius: 5px;
  padding: 5px;
  background-color: #fff;
}

.image {
  margin-right: 20px;
  overflow: hidden;
}
.total {
  font-weight: bold;
}
.button {
  width: 100%;
  height: 40px;
  text-decoration: none;
  color: #2c465a;
  border-radius: 3px;
  text-transform: uppercase;
  padding: 13px 10px;
  font-weight: 700;
  cursor: pointer;
  border: 0;
  margin-bottom: 30px;
}
.button:hover {
  background-color: #fea100;
  color: #fff;
}
