.cart {
  color: #fff;
  background: url(../../modules/Cart/assets/tekstura_dereva.jpg);
}
.container {
  display: flex;
  justify-content: center;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
}
.full {
  color: #fff;
}
.item {
  display: flex;
  width: 100%;
  padding: 10px;
}

.item:not(:last-of-type) {
  margin-bottom: 6px;
}

.wrap {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 92%;
}

.name {
  margin: 0;
  min-width: 400px;
  color: #fff;
}
.amount {
  font-size: 28px;
  color: #fea100;
}

.price {
  font-size: 28px;
  padding-left: 10px;
  margin: 7px 0;
  display: inline-block;
  font-weight: bold;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 120px;
  border: 1px solid #fea100;
  border-radius: 5px;
  padding: 10px;
  background-color: rgba(117, 190, 218, 0.5);
}

.image {
  margin-right: 20px;
  overflow: hidden;
}

.total {
  font-size: 28px;
  padding-left: 10px;
  margin: 7px 0;
  display: inline-block;
  font-weight: bold;
  padding: 10px;
  background-color: rgba(117, 190, 218, 0.5);
}

.button {
  width: 100%;
  height: 40px;
  text-decoration: none;
  color: #2c465a;
  border-radius: 3px;
  text-transform: uppercase;
  padding: 13px 10px;
  font-weight: 700;
  cursor: pointer;
  border: 0;
  margin-bottom: 30px;
}
.button:hover {
  background-color: #fea100;
  color: #fff;
}
