.home {
  background: url(../components/AppHeader/assets/first-bg.jpg) no-repeat center
    center;
  background-size: cover;
  height: 800px;
  margin: 0;
  padding: 0;
}
.head {
  font-size: 56px;
  color: #fff;
  font-weight: 700;
}
.span {
  color: #fea100;
}
