.home {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../assets/first-bg.jpg) no-repeat center center;
  background-size: cover;
  height: 800px;
  margin: 0;
  padding: 0;
}
.head {
  font-size: 64px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  line-height: 3;
}
.span {
  color: #fea100;
}

.wrapper {
  margin-bottom: 30px;
}
.about {
  font-family: 'Roboto Slab', serif;
  font-size: 32px;
  color: #333;
  text-align: center;
}
.descr {
  line-height: 1.4;
  font-size: 24px;
}
