.footer {
  color: #fff;
  background: url(../../assets/tekstura_dereva.jpg);
}

.footer_container {
  padding: 30px;
  display: flex;
  justify-content: space-between;
}

.about {
}
.address {
}
.footer_header {
}
.contacts {
}
