.button {
  text-decoration: none;
  color: #2c465a;
  border-radius: 3px;
  text-transform: uppercase;
  padding: 13px 0;
  font-weight: 700;
  cursor: pointer;
  width: 200px;
  border: 0;
}
.active {
  composes: button;
  background-color: #fea100;
  color: #fff;
}
.link {
  float: left;
  height: 35px;
  line-height: 35px;
  padding: 0 20px;
  margin-left: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #d5d5d5;
  border-radius: 18px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: color 0.1s, border-color 0.1s;
  transition: color 0.1s, border-color 0.1s;
  text-decoration: none;
  color: inherit;
  position: relative;
  outline: 0;
}

.link:hover {
  border: 1px solid #fea100;
  color: #fea100;
}
