.header {
  display: flex;
}

.nav {
  display: flex;
  list-style-type: none;
}

.card {
  width: 300px;
}

.menu {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
